/* FONTS */
@font-face {
  font-family: Pusab;
  src: url("fonts/Pusab.otf") format("opentype");
}

/* CSS */

body {
  margin: 0;
  font-family: Helvetica, Arial;
}

.gj_boxcontainer {
  margin-top: 28px;
  display: flex;
  flex-grow: 4;
  width: 100%;
}

a {
  text-decoration: none;
}

table,
th,
td {
  /* border: 1px solid black; */
  background-color: transparent;
  border-radius: 5px;
}

td,
th {
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0;
}

table {
  margin-top: 20px;
  display: inline-block;
  overflow: auto;
  text-align: left;
  position: relative;
  border-collapse: collapse;
}

th div {
  margin-top: -20px;
  position: absolute;
  position: sticky;
  top: 0;
  font-weight: bold;
}

.gj_box {
  display: block;
  margin: 0px 15px 0px 15px;
  width: 100%;
  height: 500px;
  padding: 2px;
  border-radius: 4px;
  position: relative;
}

.gj_box_sc {
  display: block;
  width: 500px;
  height: 500px;
  padding: 5px;
  border-radius: 15px;
}

.gj_box_maintitle {
  text-align: center;
  margin-top: 20px;
}

.gj_main_title_text {
  margin: 0;
}

.gj_box_title {
  text-align: center;
  font-size: 50px;
  margin: 5px 0px 0px 5px;
}

.gj_box_back {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 100px;
  height: 50px;
}

.gj_box_main_btns {
  text-align: center;
  margin-top: 40px;
}

.gj_box_updates {
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gj_box_updates p {
  margin-bottom: 0;
  margin-top: 0;
}

.gj_box_updates img {
  vertical-align: middle;
}

.gj_box_error {
  position: absolute;
  bottom: 40px;
  left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gj_box_error p {
  margin-bottom: 0;
  margin-top: 0;
}

.gj_box_error img {
  vertical-align: middle;
}

.gj_box_options_container {
  margin-left: 15px;
  margin-top: 15px;
}

.gj_box_options_container p {
  margin-left: 15px;
  margin-top: 15px;
}

.gj_box_options_container h4 {
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: 300;
}

.gj_box_options_container a {
  margin-top: 0;
}

.gj_box_options_container button {
  margin-top: 0;
}

.gjb_themebtn_container button {
  width: 175px;
  margin: 0;
}

.gjb_themebtn_dark {
  background-color: #2c2f33;
}

.gjb_themebtn_light {
  background: linear-gradient(
    90deg,
    rgba(119, 118, 255, 1) 0%,
    rgba(174, 44, 241, 1) 100%
  );
}

button {
  font-size: 20px;
  width: 200px;
  height: 50px;
  margin: 5px;
  padding: 2px;
  border: none;
  border-radius: 10px;
}

table button {
  width: 200px;
  height: 30px;
}

button:hover {
  cursor: pointer;
  transition: 0.1s;
}

.gj_blind {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  position: absolute;
  top: 0;
}

.gj_modal {
  text-align: center;
  z-index: 1500;
  width: 300px;
  height: 400px;
  padding: 5px;
  border-radius: 15px;
}

.gj_modal_loading {
  text-align: center;
  margin-top: 20%;
}

.gj_modal h5 {
  margin-left: 20px;
  margin-right: 20px;
  word-wrap: break-word;
  overflow: auto;
  margin-top: 75px;
  font-size: 25px;
  font-weight: normal;
}

.supercenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.spin {
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  mix-blend-mode: luminosity;
}
